/vendor/
/cgi-bin/
.idea/
.env
test.php
.ftpquota
.htaccess
.well-known/
data/doctrine/proxies/
data/uploads/tmp/
data/uploads/montage_jobs/*.pdf
data/uploads/montage_jobs/photos/*
data/uploads/montage_jobs/hup_photos/*